.carousel {
  @include flex(row, center, center);
  background-color: $darkBlue;
  height: 470px;
  width: 100%;
  border-radius: 5px;

  .carousel-button {
    background-color: $darkBlue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    width: 15%;
    height: 100%;
    cursor: pointer;

    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
  }

  .prev {
    background-image: url("../images/arrowleft.png");
  }
  .next {
    background-image: url("../images/arrowright.png");
  }

  .prev,
  .next {
    margin: 0 6px;
    opacity: 0.6;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 1;
    }
  }
}
