.App {
  @include flex(column, center, center);
  min-height: 100vh;
}
.container {
  max-width: 1100px;
  padding: 30px 40px;
  width: 100%;
  border-radius: 20px;
  background-color: $black;
}
.toCenter {
  @include flex(column, center, center);
}
.hidden {
  display: none;
}
.content {
  margin: 0 20px;
}
