@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.font-Roboto {
  font-family: "Roboto", sans-serif;
  color: $white;
}
.fz-medium {
  font-size: 24px;
}
