.footer {
  margin-top: auto;
  padding-top: 10px;
  margin-bottom: 10px;
  a {
    color: $white;
    text-decoration: none;
  }
  .image {
    width: 50px;
  }
  .image:hover {
    scale: 1.1;
  }
}
