@media (max-width: 2440px) {
  .accountContainer {
    width: 900px;
  }
  .container {
    max-width: 900px;
  }
  .ghostFace {
    width: 480px;
  }
  .survivors {
    width: 480px;
  }
  .roulette {
    max-width: 800px;
  }
}
@media (max-width: 1920px) {
  .accountContainer {
    width: 800px;
  }
  .container {
    max-width: 800px;
  }
  .navContainer {
    max-width: 1200px;
  }
  .ghostFace {
    width: 380px;
  }
  .survivors {
    width: 380px;
  }
  .roulette {
    max-width: 720px;
  }
}
@media (max-width: 1550px) {
  .accountContainer {
    width: 700px;
  }
  .container {
    max-width: 700px;
  }
  .ghostFace {
    width: 300px;
  }
  .survivors {
    width: 300px;
  }
  .roulette {
    max-width: 600px;
  }
}
@media (max-width: 1280px) {
  .accountContainer {
    width: 900px;
  }
  .container {
    max-width: 900px;
  }
  .ghostFace {
    display: none;
  }
  .survivors {
    display: none;
  }
  .roulette {
    max-width: 800px;
  }
}
@media (max-width: 950px) {
  .accountContainer {
    width: 100%;
  }
  .container {
    max-width: 100%;
  }
  .roulette {
    max-width: 700px;
  }
}
@media (max-width: 800px) {
  .roulette {
    max-width: 600px;
  }
  .roulette-buttons {
    grid-gap: 10px 20px;
  }
  .gallery-buttons {
    grid-gap: 10px 20px;
    margin-bottom: 10px;
  }
}
@media (max-width: 700px) {
  .roulette {
    max-width: 500px;
  }
  .accountNav {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    .searchInput {
      width: 100%;
    }
  }
}
